<div class="instructions">
    <div class="container">
        <h1 class="lead">Geo-Find   <span class="glyphicon glyphicon-globe" id="logo" ></span>
        </h1>
        <div class="views">
            <a href="#/home" style="color: rgb(207, 12, 38);">Login   </a>
            <a href="#/user" style="color: rgb(207, 12, 38);">Teacher   </a>          
            <a href="#/map" style="color: rgb(207, 12, 38);">Home   </a>  
        </div>
    </div>
</div>
<!-- <span class="glyphicon glyphicon-globe" id="logo" ></span> -->