<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    Edit Country
  </p>
</div>
<div class="col-md-4">
    <div>
        <div class="dropdown">
            <select ng-model="selectedCountry.countries" ng-options="countries.id as countries.country for countries in ic.countries.list track by countries.id"></select>           
            </div> 
    </div>
        <br>
        <br>
    <div>
           <img ng-src="{{selectedCountry.flag}}">
           {{selectedCountry.flag}}
    </div>
        <br>
        <br>
    <div>
            {{country.image1}}
    </div>
        <br>
        <br>
    <div>
            {{country.image2}}
    </div>
        <br>
        <br>
    <div>
            {{country.video}}
    </div>
        <br>
        <br>
            <!-- <button class="btn btn-default" ng-click="ic.addCountry(ic.newCountry)">Submit Country</button>
        <br> -->
        <br>
            
</div>


  <!-- <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown">Countries</button>
            <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown">
                    <li></li>
                </ul>
        </div> -->