<div ng-include="'views/partials/nav.html'"></div>
<!-- <a href="#/info">Edit Country</a> -->
<div class="container">
    <h2 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h2>
    <h1>Add a Country</h1>
</div>
<!-- {{uc.newCountry}} -->
<br>
<div class="row justify-content-around">
    <div class="col-md-4" id="addCountry">
    <div>
        <input type="text" ng-model="uc.newCountry.country" placeholder="Name of the Country">
        <button type="button" class="btn btn-default" ng-click="nameInfo = !nameInfo">
                <span class="glyphicon glyphicon-info-sign" ></span>
                </button>
        <span ng-if="nameInfo" class="panel-name">Please Capitalize the Country Name</span>
    </div> 
        <br>
        <br>
    <div>
        <button ng-click="uc.uploadFlag(newCountry.imageUrl)">Upload Flag image</button>
        <button type="button" class="btn btn-default" ng-click="flagInfo = !flagInfo">
                <span class="glyphicon glyphicon-info-sign" ></span>
                </button>
        <span ng-if="flagInfo" class="panel-name">Recommended size for flags is Width: 250 pixels, Height: 500 pixels</span>                    
    </div>
        <br>
        <br>
    <div>
        <button ng-click="uc.uploadImage1(newCountry.imageUrl)">Upload first image</button>
    </div>
        <br>
        <br>
    <div>
        <button ng-click="uc.uploadImage2(newCountry.imageUrl)">Upload second image</button>
    </div>
        <br>
        <br>
    <div>
        <input type="text" ng-model="uc.newCountry.video" placeholder="Youtube video Url">
            <button type="button" class="btn btn-default" ng-click="videoInfo = !videoInfo">
                    <span class="glyphicon glyphicon-info-sign" ></span>
                    </button>
        <span ng-if="videoInfo" class="panel-name">Please only add the unique sequence at the end of the YouTube link, such as:
                if you click the share button, only add the red portion - https://youtu.be/<span class="youtubeInfo">ryJrPfiDXIs</span></span>                    
    </div>
    <div>
            <br>
            <br>
                <button class="btn btn-default" ng-click="uc.addCountry(uc.newCountry, countrySubmitted = !countrySubmitted)">Submit Country</button>
                <span ng-show="countrySubmitted" class="countryAdded">Country Added!</span>
            <br>
            <br>
            <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
    </div>
</div>   
        <div class="row">
            <div class="col-md-4">
                <div class="dropdown">
                    <h4>Select Country to Delete</h4>
                    <select ng-model="selectedCountry.countries" ng-options="countries.id as countries.country for countries in uc.countries.list track by countries.id"></select>           
                    </div> 
                    <br>
                    <br>
                <button ng-click="uc.deleteCountry(selectedCountry)">Delete</button>
            </div>
        </div>
        
    </div>
</div>
