<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<!-- <a href="#/info"></a> link to extra view for future features-->
<div class="container">
    <h2 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h2>
    <h1>Add a Country</h1>
</div>
<br>
<!--- adding a new country -->
<div class="row justify-content-around">
    <div class="col-md-6" id="addCountry">
        <div>
            <!--- adding country name -->
            <input type="text" ng-model="uc.newCountry.country" placeholder="Name of the Country">
            <button type="button" class="btn btn-default" ng-click="nameInfo = !nameInfo">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <span ng-if="nameInfo" class="panel-name">Please Capitalize the Country Name</span>
        </div>
        <br>
        <br>
        <div>
            <!--- adding flag image -->
            <button ng-click="uc.uploadFlag(newCountry.imageUrl, flagSubmitted = !flagSubmitted)">Upload Flag image</button>
            <span ng-if="flagSubmitted" class="imageSubmit">Flag image submitted!</span>
            <button type="button" class="btn btn-default" ng-click="flagInfo = !flagInfo">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <span ng-if="flagInfo" class="panel-name">Recommended size for flags is Width: 250 pixels, Height: 500 pixels</span>
        </div>
        <br>
        <br>
        <div>
            <!--- adding first picture -->
            <button ng-click="uc.uploadImage1(newCountry.imageUrl, image1Submitted = !image1Submitted)">Upload first image</button>
            <span ng-if="image1Submitted" class="imageSubmit">First image submitted!</span>            
        </div>
        <br>
        <br>
        <div>
            <!--- adding second picture -->
            <button ng-click="uc.uploadImage2(newCountry.imageUrl, image2Submitted = !image2Submitted)">Upload second image</button>
            <span ng-if="image2Submitted" class="imageSubmit">Second image submitted!</span>            
        </div>
        <br>
        <br>
        <div>
            <!--- adding video url -->
            <input class="col-lg-4" type="text" ng-change="uc.videoParser(uc.newCountry.video)" ng-model="uc.newCountry.video" placeholder="Shared Youtube video Url">
            <button type="button" class="btn btn-default" ng-click="videoInfo = !videoInfo">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <span ng-if="videoInfo" class="panel-name">Please only add the YouTube link found in the SHARE option on YouTube.com, such as: 
                <span class="youtubeInfo">https://youtu.be/7dFYQgSETo0</span>, it will already be highlighted for you, just click the word copy.
            </span>
            <!--- video preview code -->
            <span>Preview your video:</span>
        </div>
        <span>
                <iframe class="videoImage" width="300" height="200" ng-src="{{uc.newCountry.video | youtubeEmbedUrl}}"
                frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </span>
        <div>
            <br>
            <br>
            <!--- submit button creating new country object in DB -->
            <button class="btn btn-default" ng-click="uc.addCountry(uc.newCountry, countrySubmitted = !countrySubmitted); uc.getCountries()">Submit Country</button>
            <span ng-show="countrySubmitted" class="countryAdded">Country Added!</span>
            <br>
            <!--- end adding a new country -->
            <br>
            <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
        </div>
    </div>
    <!--- ordering flag display on map page -->
        <div class="col-md-4">
            <h4>Only the first 5 countries will display on the front page!</h4>
            <br>
            <button type="button" class="btn btn-default" ng-click="changeOrder = !changeOrder">Click to view Order</button>
            <br>
            <div ng-if="changeOrder">
                <div ng-repeat="names in uc.countries.list">
                    <span>
                        <input type="text" value="set background" ng-click="clickColor={'background-color':'yellow'}" ng-style="clickColor" ng-model="names.order_id"
                            placeholder="{{names.order_id}}" size="4">: {{names.country}}</span>
                </div>
                <br>
                <button ng-click="uc.changeOrder(names, orderChanged = !orderChanged)">Change Order</button>
                <span ng-show="orderChanged" class="countryAdded"> Country Order Updated!</span>
                <br>
                <br>
            </div>
            <br>
            <!--- end ordering flag display controls -->
            <br>
            <!--- delete country controls -->
            <div class="dropdown">
                <h4>Select Country to Delete</h4>
                <select ng-model="selectedCountry.countries" ng-options="countries.id as countries.country for countries in uc.countries.list track by countries.id"></select>
            </div>
            <br>
            <br>
            <button ng-click="uc.deleteCountry(selectedCountry)">Delete</button>
        </div>
</div>