<body>
    <div class="container-fluid">
            <h1>World Map test page</h1>
        <div class="row no-gutters">
            <div class="col-md-8">                
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=&zoom=1&size=1416x680&scale=2&maptype=terrain
                    &key=AIzaSyBXCCVmaJXKRVD4t_t3cCr-pDpV1gy16Gs">
            </div>
            <div class="col-md-1" id="flag-column">
                <a href="#/zoom"><img src="./images/united-kingdom-flag-small.jpg"><a href="#/zoom"></a>
                <a href="#/zoom"><img src="./images/india-flag-small.jpg"><a href="#/zoom"></a>  
            </div>
        </div>
    </div>
  </body>