<body>
        <h1>Zoom test page</h1>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Egypt&zoom=5&size=1416x680&scale=2&maptype=terrain
                        &key=AIzaSyBXCCVmaJXKRVD4t_t3cCr-pDpV1gy16Gs">
                </div>
                <div class="col-md-1">
                <div class="well well-lg" id="media-bubble">
                                This is the well.
                                Media shall go here.
                </div>
            </div>
            </div>
        </div>
      </body>