<body>
        <h1>Zoom test page</h1>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-8">
                        {{mc.mapZoom}}
                    <img ng-src="{{mc.mapZoom}}">
                </div>
                <div class="col-md-1">
                <div class="well well-lg" id="media-bubble">
                                This is the well.
                                Media shall go here.
                </div>
            </div>
            </div>
        </div>
      </body>